@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

header {
  padding: 0 200px;
}

@media screen and (max-width: 1018px) {
  header {
    max-width: fit-content;
    padding: 0;
    margin: 0 auto;
  }
}

button {
  cursor: pointer;
}

h1 {
  margin: 5px 0;
  color: hsl(0, 0%, 30%);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin: 40px auto;
  padding: 20px;
  max-width: fit-content;

  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
  border: none;
  border-radius: 15px;
}

.calculator > h2 {
  color: hsl(0, 0%, 30%);
}

.calculator__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculator__form > hr {
  border: 1px dashed hsl(0, 0%, 80%);
  border-radius: 100px;
}

.calculator__form > button {
  padding: 20px 40px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(135, 80%, 15%);

  background-color: hsl(150, 100%, 45%);
  border: none;
  border-radius: 15px;
}

.calculator-form__input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;  
}

.calculator-form__input > p {
  flex-basis: 100px;
}

.calculator-form__input input {
  width: 100px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 40%);
}

.calculator-input__fields {
  display: flex;
  gap: .1px;
}

.calculator-input__fields button {
  display: flex;
  align-items: center;
  gap: 5px;
  
  padding: 0 5px;
  width: 60px;

  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 40%);
}

.calculator-input__fields button img {
  width: 24px;
  height: 12px;
}

.calculator__results {
  padding: 20px;

  color: hsl(135, 80%, 15%);
  background-color: hsl(150, 100%, 45%);
  border-radius: 15px 50px 50px 15px;
}

.info {
  display: flex;
  align-items: center;
  gap: 40px;

  max-width: 900px;
  margin: 0 auto;
}

.info img {
  width: 30vw;
}

.info h1 {
  margin-bottom: 40px;
}

@media screen and (max-width: 825px) {
  .info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info img {
    width: 60vw;
  }
}